{% extends 'base.html' %}

{% block title %}Alohate:: Contacto{% endblock %}

{% block content %}

<div class="column is-half is-offset-one-quarter content">
    

    {% comment %} <div class='box'>
        <h2 class="mb-2 has-text-weight-bold  is-text-centered" id='search'>Registro</h2>
        <p class='mb-4 pb-4  is-text-centered'>Para registrarte, por favor ingrese los datos en el formulario a continuación 👇</p>
        <div class="field">
            <p class="control has-icons-left">
                <span class="icon is-small is-left is-align-content-center ml-4">
                <i class="fa fa-user is-"></i>
                </span>
            </p>
        </div>
        <div class="field">
            <p class="control has-icons-left has-icons-right ">
              <input class="input" type="text" placeholder="Username">
              <span class="icon is-small is-left is-align-content-center ml-4">
                <i class="fa has-text-primary fa-user"></i>
              </span>
              
            </p>
        </div>
          
        <div class="field">
            <p class="control has-icons-left">
                <input class="input" type="password" placeholder="Contrase&ntilde;a">
                <span class="icon is-small is-left  is-align-content-center ml-4">
                <i class="fa has-text-primary fa-lock"></i>
                </span>
            </p>
        </div>
    
        <div class="field">
            <p class="control">
                <button class="button is-success has-text-white">
                Registrarse
                </button>
            </p>
        </div>
    </div> {% endcomment %}   


        <div class='box'>
            <h2 class="mb-2 has-text-weight-bold has-text-centered" id='search'>Hubo un error</h2>
            <p class='mb-4 pb-4 has-text-centered'>No se pudo enviar el mensaje</p>

            {% comment %} volver a contact {% endcomment %}
            <div class="field has-text-centered">
                <p class="control has-text-centered">
                    <a href="/contacto/" class="button is-success has-text-white m-auto">
                        Volver
                    </a>
                </p>
            </div>

        </div>

</div>

{% endblock %}