{% extends 'base.html' %}

{% block title %}Alohate:: Contacto{% endblock %}

{% block content %}

<div class="column is-half is-offset-one-quarter content">

        <div class='box'>
            <h2 class="mb-2 has-text-weight-bold has-text-centered" id='search'>Hubo un error</h2>
            <p class='mb-4 pb-4 has-text-centered'>No se pudo enviar el mensaje</p>

            <div class="field has-text-centered">
                <p class="control has-text-centered">
                    <a href="/contacto/" class="button is-success has-text-white m-auto">
                        Volver
                    </a>
                </p>
            </div>

        </div>

</div>

{% endblock %}