{% extends 'base.html' %}

{% block title %}Inmobiliarium{% endblock %}

{% block content %}

<div class="column content">
    <h2 class="mb-1 has-text-weight-bold">Bienvenido 👋</h2>
    <p class='mb-6'>Encuentra propiedades para alquilar o comprar en destinos paradisiacos.</p>

    {% comment %} bulma grid {% endcomment %}
    {% comment %} {% include 'components/search.html' %} {% endcomment %}


    <h2 class='has-text-centered'>Propiedades destacadas 🔥</h2>
    {% comment %} with destacadas {% endcomment %}
    {% include 'components/grilla.html' with propiedades=destacadas %}
   
    <div class='my-6'>
      {% include 'components/hero-buscador.html' %}
    </div>

    <h2 class='has-text-centered'>Propiedades al azar 🎲</h2>

    {% include 'components/grilla.html' with propiedades=alazar %}

</div>

{% endblock %}