{% extends 'base.html' %}

{% block title %}Inmobiliarium{% endblock %}

{% block content %}

<div class="">
    <h2 class="title mb-1">Bienvenido</h2>
    <p class='mb-6 pb-6'>Encuentre propiedades para alquiler o compra en destinos paradisiacos.</p>

    {% comment %} bulma grid {% endcomment %}
    {% include 'components/search.html' %}

    <div class="columns">
      <div class="column is-one-third">
        {% include 'components/home-card.html' %}
      </div>
      <div class="column is-one-third">
        {% include 'components/home-card.html' %}
      </div>
      <div class="column is-one-third">
        {% include 'components/home-card.html' %}
      </div>
    </div>

</div>

{% endblock %}

{% block playground %}
{% comment %} <div class='contenedor'>
  <div id="escapista" class="escapista"></div>
</div>
  <script>
    const escapista = document.getElementById('escapista');

    // Mueve el div a una nueva posición aleatoria
    function moverDiv() {
      const anchoPantalla = window.innerWidth;
      const altoPantalla = window.innerHeight;

      // Calcula posiciones aleatorias dentro de los límites de la pantalla
      const nuevaPosicionX = Math.random() * (anchoPantalla - escapista.offsetWidth);
      const nuevaPosicionY = Math.random() * (altoPantalla - escapista.offsetHeight);

      // Aplica las nuevas posiciones
      escapista.style.left = `${nuevaPosicionX}px`;
      escapista.style.top = `${nuevaPosicionY}px`;
    }

    // Evento que hace que el div "escape"
    escapista.addEventListener('mouseover', moverDiv);

    // Cuando el div es clickeado
    escapista.addEventListener('click', () => {
      alert('¡Felicidades! ¡La propiedad es tuya!');
      escapista.removeEventListener('mouseover', moverDiv); // Detiene el movimiento
    });

    // Mueve el div a una posición inicial aleatoria al cargar la página
    moverDiv();
  </script> {% endcomment %}
{% endblock %}