{% extends 'base.html' %}

{% load static %}

{% block title %}Inmobiliarium:: Resultados de busqueda{% endblock %}

{% block content %}

<div class="column">

    {% if propiedades %}
    {% for imagen in imagenes %}
    {% include 'components/galeria.html' %}
    <img src="/{{ imagen.imagen }}" alt="Imagen de la propiedad" />
    {% endfor %}
    {% for propiedad in propiedades %}
    {% include 'components/card.html' with propiedad=propiedad %}
    {% endfor %}
    {% else %}
    <p class='mb-4'>No se encontraron propiedades que coincidan con tu busqueda.</p>
    <a href="{% url 'buscar' %}" class="button is-warning mb-5">Vuelve a la busqueda</a>
    {% endif %}

</div>

{% endblock %}

{% block sidebar %}

<div class="box">
    <h3 class="title">Sidebar</h3>
    <p>This is the sidebar. You can add widgets, advertisements, or other relevant information here.</p>
</div>

{% endblock %}