{% load static %}

<div class="container pt-4">
  <nav class="navbar" role="navigation" aria-label="main navigation">
    <div class="navbar-brand">
      <a class="navbar-item" href="/">
        <img src="{% static 'img/logo.png' %}" width="311" height="96" alt='Alohate Logo'>
      </a>

      <a role="button" class="navbar-burger" aria-label="menu" aria-expanded="false" data-target="navbarBasicExample">
        <span aria-hidden="true"></span>
        <span aria-hidden="true"></span>
        <span aria-hidden="true"></span>
        <span aria-hidden="true"></span>
      </a>
    </div>

    <div id="navbarBasicExample" class="navbar-menu">
      {% if not user.is_authenticated %}
      <div class="navbar-end">
        <div class="navbar-item">
          <div class="buttons">
            <a class="button is-narrow is-dark has-text-white" href="{% url 'contacto' %}">
              <i class="fa fa-envelope pr-2"></i>  Contacto
            </a>
            <a class="button is-sweet-orange has-text-white is-narrow" href="{% url 'registro' %}">
              Registrarse
            </a>
            <a class="button is-light is-narrow" href="{% url 'login' %}">
              <i class="fa fa-user pr-2"></i>  Iniciar sesión
            </a>
          </div>
        </div>
      </div>
      {% else %}
      <div class="navbar-end">
        <div class="navbar-item">
          <div class="buttons">
            <a class="button is-narrow is-dark has-text-white" href="{% url 'contacto' %}">
              <i class="fa fa-envelope pr-2"></i>  Contacto
            </a>
            <a class="button is-narrow is-danger has-text-white" href="{% url 'mis_favoritos' %}">
              <i class="fa has-text-white fa-heart pr-2"></i>  Mis favoritos
            </a>
            <a class="button is-white  is-narrow" href="{% url 'logout' %}">
              Salir
            </a>
          </div>
        </div>
      </div>
      {% endif %}
    </div>
  </nav>
</div>