{% load static %}



<div class="container">
  <nav class="navbar" role="navigation" aria-label="main navigation">
    <div class="navbar-brand">
      <a class="navbar-item" href="/">
        <img src="{% static 'img/logo.jpg' %}" width="150" height="96">
      </a>

      <a role="button" class="navbar-burger" aria-label="menu" aria-expanded="false" data-target="navbarBasicExample">
        <span aria-hidden="true"></span>
        <span aria-hidden="true"></span>
        <span aria-hidden="true"></span>
        <span aria-hidden="true"></span>
      </a>
    </div>

    <div id="navbarBasicExample" class="navbar-menu">
      <!-- <div class="navbar-start">
  
      </div> -->

      <div class="navbar-start">
        <a class="navbar-item">
          Home
        </a>

        <a class="navbar-item">
          Casas
        </a>

        <div class="navbar-item has-dropdown is-hoverable">
          <a class="navbar-link">
            Alquilar
          </a>

          <div class="navbar-dropdown">
            <a class="navbar-item">
              Comprar
            </a>
            <a class="navbar-item is-selected">
              Mis favoritas
            </a>
            <a class="navbar-item">
              Contacto
            </a>
            <hr class="navbar-divider">
            <a class="navbar-item">
              Quiero vender mi casa
            </a>
          </div>
        </div>
        <div class="navbar-item">
          <div class="buttons">
            <a class="button is-primary">
              <strong>Registro</strong>
            </a>
            <a class="button is-light">
              Iniciar sesión
            </a>
          </div>
        </div>
      </div>
    </div>
  </nav>
</div>