{% load static %}

<div class="card">
    <div class="card-image">
      <figure class="image is-4by3">
        <img
          src="{% static 'img/view-tank-container-water-storage.jpg' %}"
          alt="Placeholder image"
        />
      </figure>
    </div>
    <div class="card-content">
      <div class="media">
        <div class="media-content">
          <span class="tag is-sweet-orange has-text-white">Venta</span>
          <h2 class="is-size-4 has-text-weight-bold">Nuevo Amanecer</h2>
          <p class="subtitle is-6">Propiedad en isla de Margarita, a 5 minutos de la playa</p>
          {% comment %} Icon + number os items like rooms, bathrooms, or garage {% endcomment %}
          <div class="is-flex is-justify-content-space-between is-align-items-center">
              <div class="is-flex">
                <i class="fa fa-lg fa-bed mt-1 mr-2"></i>
                <span>3</span>
              </div>
              <div class="is-flex">
                <i class="fa fa-lg fa-bath mt-1 mr-2"></i>
                <span>2</span>
              </div>
              <div class="is-flex">
                <i class="fa fa-lg fa-car mt-1 mr-2"></i>
                <span>1</span>
              </div>
              <div class="is-flex">
                <i class="fa fa-lg fa-map mt-1 mr-2"></i>
                <span>400m²</span>
              </div>
             
            </div>
        </div>
      </div>
  
      <div class="card-footer pt-4 content is-flex is-justify-content-space-between is-align-items-center">
        <h3 class='p-0 m-0'>USD 150.000</h3>
        <a href="#" class="button is-primary has-text-white">Ver propiedad</a>
      </div>
    </div>
</div>