<div class="card">
    <div class="card-image">
        <figure class="image is-4by3">
            <img src="{{ image_url }}" alt="Card image" />
        </figure>
    </div>
    <div class="card-content">
        <div class="media">
            <div class="media-left">
                <figure class="image is-48x48">
                    <img src="https://bulma.io/assets/images/placeholders/96x96.png" alt="Profile image" />
                </figure>
            </div>
            <div class="media-content">
                <p class="title is-4">{{ title }}</p>
                <p class="subtitle is-6">{{ subtitle }}</p>
            </div>
        </div>
        <div class="content">
            {{ content }}
            <br />
            <time datetime="{{ date }}">{{ date }}</time>
        </div>
    </div>
</div>