<div class="container glass is-sticky pb-3">
    <form method="GET" action="/buscar">
        <div class='is-flex is-align-items-end'>
            <div class='form-element pr-3'>
                <label class='is-size-7 is-block ml-2' for="tipo">TIPO</label>
                <div class="select is-rounded">
                    <select class='is-link' name='tipo'>
                        <option value='todos'>Todos</option>
                        <option value='alquiler' {% if request.GET.tipo == 'alquiler' %}selected{% endif %}>Alquiler
                        </option>
                        <option value='venta' {% if request.GET.tipo == 'venta' %}selected{% endif %}>Compra</option>
                    </select>
                </div>
            </div>

            <div class='form-element pr-3'>
                <label class='is-size-7 is-block ml-2' for="zona">ZONA</label>
                <div class="select is-rounded">
                    <select class='is-link' name='zona'>
                        <option value='todas'>Todas</option>
                        <option value='hawaii' {% if request.GET.zona == 'hawaii' %}selected{% endif %}>Hawaii</option>
                        <option value='caribe' {% if request.GET.zona == 'caribe' %}selected{% endif %}>Caribe</option>
                        <option value='borabora' {% if request.GET.zona == 'borabora' %}selected{% endif %}>Bora Bora
                        </option>
                    </select>
                </div>
            </div>


            <div class='form-element pr-3'>
                <label class='is-size-7 is-block ml-2' for="piezas">Piezas</label>
                <div class="select is-rounded">

                    <select class='is-link' name='piezas'>
                        <option value="1" {% if request.GET.piezas == '1' %}selected{% endif %}>1</option>
                        <option value="2" {% if request.GET.piezas == '2' %}selected{% endif %}>2</option>
                        <option value="3" {% if request.GET.piezas == '3' %}selected{% endif %}>3</option>
                    </select>
                </div>
            </div>


            <div class='form-element pr-3'>
                <label class='is-size-7 is-block ml-2' for="banos">BAÑOS</label>
                <div class="select is-rounded">

                    <select class='is-link' name='banos'>
                        <option value="1" {% if request.GET.banos == '1' %}selected{% endif %}>1</option>
                        <option value="2" {% if request.GET.banos == '2' %}selected{% endif %}>2</option>
                        <option value="3" {% if request.GET.banos == '3' %}selected{% endif %}>3</option>
                    </select>
                </div>
            </div>

            {% comment %} submit {% endcomment %}
            <div class='form-element'>
                <button class='button is-light is-rounded'>Buscar</button>
                {% comment %} <a href="javascript:();" class='button is-light is-rounded'>Limpiar</a> {% endcomment %}
            </div>
        </div>
    </form>
</div>